body {
	background: #D4EDE2;
	text-align: center;
	margin: 100px;
}

.btn {
    background-color: #7E55B4;
    color: white;
    border-radius: 2px;
}

.btn:hover {
    color: white;
   	background-color: #4D3271;

}

.btn-add {
    background-color: #566CB3 !important;
}

.btn-add:hover {
    background-color: #334171 !important;
}

.btn-space {
	margin: 10px;
}