body {
	background: #C5E7D8;
	text-align: center;
	margin: 100px;
}

.btn {
	background-color: #7E55B4;
	color: white;
	border-radius: 2px;
}
.btn:hover {
	color: white;
	background-color: #4D3271;
}
.btn-space {
	margin: 10px;
}
.btn-expense {
	background-color: #566CB3 !important;
}
.btn-expense:hover {
	background-color: #334171 !important;
}
.btn-add {
	background-color: #334171 !important;
	padding-left: 50px;
	padding-right: 50px;
}
.btn-add:hover {
	background-color: #192138 !important;
}

table {
	text-align: left;
}

.table>tbody>tr>td {
	border-top: none;
}

.list-group{
	width: 70%;
	margin: 0 auto
}
.list-group-item {
	background-color: #F1F9F5;
	border: 1px solid #999999;
	border-radius: 2px !important;	
}